{{!< default}}

{{#post}}

{{>"header"}}
<h3>Aca va un contenido estatico</h3>
<section class="posts">
	<article class="{{post_class}}">
		<div class="inner">
			<header class="header-post">
				<h2 class="title-post">{{{title}}}</h2>
			</header>

			<section class="content-post">
				{{content}}
				<h1>Hola que hace</h1>
			</section>
		</div>
	</article>
</section>


{{/post}}
