<nav class="main-nav">
	<div >
        <ul>
			{{#foreach navigation}}
				<li role="presentation"><a href="{{url absolute="true"}}"><span>{{label}}</span></a></li>
	        {{/foreach}}
        </ul>
    </div>
</nav>
